@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #d9b76f;
  border-radius: 0em;
  color: #8a6a25;
  display: inline-block;
  font-size: 1.25em;
  font-weight: 400;
  line-height: 1;
  padding: 0.5em 2em;
  text-decoration: none; }
  button:hover,
  input[type="submit"]:hover {
    background-color: rgba(217, 183, 111, 0.85);
    color: rgba(138, 106, 37, 0.85); }

body {
  -webkit-font-smoothing: antialiased;
  background-color: #e5e5e5;
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  font-family: "PT Sans", sans-serif;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #4c4c4c;
  text-decoration: none; }
  a:hover {
    color: #262626; }
  a:active, a:focus {
    color: #262626;
    outline: none; }

hr {
  border-bottom: 1px solid transparent;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img {
  margin: 0;
  max-width: 100%; }

blockquote {
  border-left: 2px solid transparent;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #727272;
  font-style: italic; }
  cite:before {
    content: '\2014 \00A0'; }

fieldset {
  background: rgba(26, 26, 26, 0);
  border: 1px solid transparent;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "PT Sans", sans-serif;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  color: #333333;
  background-color: rgba(177, 204, 180, 0.5);
  border-radius: 0em;
  border: 1px solid transparent;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.06);
  font-family: "PT Sans", sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea::-webkit-input-placeholder,
  input[type="email"]::-webkit-input-placeholder, input[type="number"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="search"]::-webkit-input-placeholder, input[type="tel"]::-webkit-input-placeholder, input[type="text"]::-webkit-input-placeholder, input[type="url"]::-webkit-input-placeholder, input[type="color"]::-webkit-input-placeholder, input[type="date"]::-webkit-input-placeholder, input[type="datetime"]::-webkit-input-placeholder, input[type="datetime-local"]::-webkit-input-placeholder, input[type="month"]::-webkit-input-placeholder, input[type="time"]::-webkit-input-placeholder, input[type="week"]::-webkit-input-placeholder,
  select[multiple=multiple]::-webkit-input-placeholder {
    color: rgba(51, 51, 51, 0.5); }
  textarea::-moz-placeholder,
  input[type="email"]::-moz-placeholder, input[type="number"]::-moz-placeholder, input[type="password"]::-moz-placeholder, input[type="search"]::-moz-placeholder, input[type="tel"]::-moz-placeholder, input[type="text"]::-moz-placeholder, input[type="url"]::-moz-placeholder, input[type="color"]::-moz-placeholder, input[type="date"]::-moz-placeholder, input[type="datetime"]::-moz-placeholder, input[type="datetime-local"]::-moz-placeholder, input[type="month"]::-moz-placeholder, input[type="time"]::-moz-placeholder, input[type="week"]::-moz-placeholder,
  select[multiple=multiple]::-moz-placeholder {
    color: rgba(51, 51, 51, 0.5); }
  textarea:-moz-placeholder,
  input[type="email"]:-moz-placeholder, input[type="number"]:-moz-placeholder, input[type="password"]:-moz-placeholder, input[type="search"]:-moz-placeholder, input[type="tel"]:-moz-placeholder, input[type="text"]:-moz-placeholder, input[type="url"]:-moz-placeholder, input[type="color"]:-moz-placeholder, input[type="date"]:-moz-placeholder, input[type="datetime"]:-moz-placeholder, input[type="datetime-local"]:-moz-placeholder, input[type="month"]:-moz-placeholder, input[type="time"]:-moz-placeholder, input[type="week"]:-moz-placeholder,
  select[multiple=multiple]:-moz-placeholder {
    color: rgba(51, 51, 51, 0.5); }
  textarea:-ms-input-placeholder,
  input[type="email"]:-ms-input-placeholder, input[type="number"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, input[type="search"]:-ms-input-placeholder, input[type="tel"]:-ms-input-placeholder, input[type="text"]:-ms-input-placeholder, input[type="url"]:-ms-input-placeholder, input[type="color"]:-ms-input-placeholder, input[type="date"]:-ms-input-placeholder, input[type="datetime"]:-ms-input-placeholder, input[type="datetime-local"]:-ms-input-placeholder, input[type="month"]:-ms-input-placeholder, input[type="time"]:-ms-input-placeholder, input[type="week"]:-ms-input-placeholder,
  select[multiple=multiple]:-ms-input-placeholder {
    color: rgba(51, 51, 51, 0.5); }
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    background-color: rgba(177, 204, 180, 0.25); }
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    background-color: rgba(177, 204, 180, 0.25);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.06), 0 0 1px rgba(162, 194, 165, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  margin-bottom: 0.75em;
  padding-bottom: 0.5em;
  width: 100%; }

select {
  width: auto;
  max-width: 100%;
  margin-bottom: 1.5em; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid transparent;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid transparent;
  padding: 0.75em 0; }

tr, td, th {
  vertical-align: middle; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

.centered-navigation {
  background-color: #e5e5e5;
  border-bottom: 1px solid #e0e0e0;
  font-family: "PT Sans", sans-serif;
  height: 60px;
  width: 100%;
  z-index: 9999; }
  .centered-navigation .centered-navigation-menu-button {
    color: #769489;
    display: block;
    float: right;
    font-weight: 700;
    line-height: 60px;
    margin: 0;
    padding-right: 1em;
    text-transform: uppercase; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation .centered-navigation-menu-button {
        display: none; } }
    .centered-navigation .centered-navigation-menu-button:hover {
      color: #5e796f; }
  .centered-navigation .centered-navigation-wrapper {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 999; }
    .centered-navigation .centered-navigation-wrapper:after {
      content: "";
      display: table;
      clear: both; }
    .centered-navigation .centered-navigation-wrapper:after {
      content: "";
      display: table;
      clear: both; }
  .centered-navigation ul.centered-navigation-menu {
    -webkit-transform-style: preserve-3d;
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 99999; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation ul.centered-navigation-menu {
        display: block;
        text-align: center; } }
  @media screen and (min-width: 53.75em) {
    .centered-navigation .nav-link:first-child {
      margin-left: 2.2em; } }
  .centered-navigation ul li.nav-link {
    background: #e5e5e5;
    display: block;
    line-height: 60px;
    overflow: hidden;
    padding-right: 1em;
    text-align: right;
    width: 100%;
    z-index: 9999; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation ul li.nav-link {
        background: transparent;
        display: inline;
        line-height: 60px; }
        .centered-navigation ul li.nav-link a {
          padding-right: 1em; } }
    .centered-navigation ul li.nav-link a {
      color: #769489;
      display: inline-block; }
      .centered-navigation ul li.nav-link a:hover {
        color: #5e796f; }
  .centered-navigation li.more.nav-link {
    padding-right: 0; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation li.more.nav-link {
        padding-right: 1em; } }
    .centered-navigation li.more.nav-link > ul > li:first-child a {
      padding-top: 1em; }
    .centered-navigation li.more.nav-link a {
      margin-right: 1em; }
    .centered-navigation li.more.nav-link > a {
      padding-right: 0.6em; }
    .centered-navigation li.more.nav-link > a:after {
      position: absolute;
      top: auto;
      right: -0.4em;
      bottom: auto;
      left: auto;
      color: #769489;
      content: '\25BE'; }
  .centered-navigation li.more {
    overflow: visible;
    padding-right: 0; }
    .centered-navigation li.more a {
      padding-right: 1em; }
    .centered-navigation li.more > a {
      padding-right: 1.6em;
      position: relative; }
      @media screen and (min-width: 53.75em) {
        .centered-navigation li.more > a {
          margin-right: 1em; } }
      .centered-navigation li.more > a:after {
        content: '›';
        font-size: 1.2em;
        position: absolute;
        right: 0.5em; }
    .centered-navigation li.more:hover > .submenu {
      display: block; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation li.more {
        padding-right: 1em;
        position: relative; } }
  .centered-navigation ul.submenu {
    display: none;
    padding-left: 0; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation ul.submenu {
        left: -1em;
        position: absolute;
        top: 1.5em; } }
    @media screen and (min-width: 53.75em) {
      .centered-navigation ul.submenu .submenu {
        left: 11.8em;
        top: 0; } }
    .centered-navigation ul.submenu li {
      display: block;
      padding-right: 0; }
      @media screen and (min-width: 53.75em) {
        .centered-navigation ul.submenu li {
          line-height: 46.15385px; }
          .centered-navigation ul.submenu li:first-child > a {
            border-top-left-radius: 0em;
            border-top-right-radius: 0em; }
          .centered-navigation ul.submenu li:last-child > a {
            border-bottom-left-radius: 0em;
            border-bottom-right-radius: 0em;
            padding-bottom: .7em; } }
      .centered-navigation ul.submenu li a {
        background-color: #dddddd;
        display: inline-block;
        text-align: right;
        width: 100%; }
        @media screen and (min-width: 53.75em) {
          .centered-navigation ul.submenu li a {
            background-color: #e5e5e5;
            padding-left: 1em;
            text-align: left;
            width: 12em; } }

.footer {
  background: #333333;
  padding: 3em 1.618em;
  width: 100%; }
  .footer .footer-links {
    margin-bottom: 1.5em; }
    .footer .footer-links:after {
      content: "";
      display: table;
      clear: both; }
    @media screen and (min-width: 40em) {
      .footer .footer-links {
        margin-left: 25.58941%; } }
  .footer ul {
    margin-bottom: 3em; }
    @media screen and (min-width: 40em) {
      .footer ul {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 23.23176%; }
        .footer ul:last-child {
          margin-right: 0; }
        .footer ul:nth-child(3n) {
          margin-right: 0; }
        .footer ul:nth-child(3n+1) {
          clear: left; }
        .footer ul:after {
          content: "";
          display: table;
          clear: both; } }
  .footer li {
    text-align: center; }
    @media screen and (min-width: 40em) {
      .footer li {
        text-align: left; } }
  .footer li a {
    color: rgba(255, 255, 255, 0.4); }
    .footer li a:hover {
      color: white; }
  .footer li h3 {
    color: white;
    font-size: 1em;
    font-weight: 800;
    margin-bottom: .4em; }
  .footer hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0 auto 1.5em;
    width: 12em; }
  .footer p {
    color: rgba(255, 255, 255, 0.4);
    font-size: .9em;
    line-height: 1.5em;
    margin: auto;
    max-width: 35em;
    text-align: center; }

.chart {
  display: inline-block;
  width: 125px;
  height: 125px;
  margin: 0 10px;
  vertical-align: top;
  position: relative;
  padding-top: 35px;
  line-height: 1;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .chart span {
    display: block;
    width: 100%;
    font-size: 2.5em;
    font-weight: normal; }
  .chart canvas {
    position: absolute;
    left: 0;
    top: 0; }

.stack-environment-list li {
  display: inline-block; }
  .stack-environment-list li span {
    display: block;
    width: 100%;
    font-size: 2.5em;
    font-weight: normal; }

.tooltip-item {
  position: relative; }
  .tooltip-item:hover .tooltip {
    opacity: 1;
    visibility: visible; }
  .tooltip-item .tooltip {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    top: -60;
    bottom: 140%;
    background-color: rgba(217, 183, 111, 0.85);
    border-radius: 0em;
    box-shadow: 0 2px 1px rgba(206, 163, 71, 0.85);
    color: rgba(98, 75, 26, 0.85);
    font-size: 0.9em;
    line-height: 1.5em;
    margin-left: -5em;
    opacity: 0;
    padding: 1em 1em 2em 1em;
    text-align: center;
    visibility: hidden;
    min-width: 10em;
    z-index: 10;
    font-family: Georgia, Cambria, "Times New Roman", Times, serif; }
    .tooltip-item .tooltip p {
      font-family: "PT Sans", sans-serif;
      margin-bottom: 0; }

body {
  margin: 0 auto; }

.container {
  width: 100%; }

.section {
  padding-top: 3em;
  padding-bottom: 3em; }
  .section section {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    .section section:after {
      content: "";
      display: table;
      clear: both; }

.intro {
  background-color: rgba(118, 148, 137, 0.5); }
  .intro aside {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    .intro aside:last-child {
      margin-right: 0; }
  .intro article {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%; }
    .intro article:last-child {
      margin-right: 0; }
  .intro h1 {
    color: #333333; }

.resume {
  background-color: #e5e5e5; }
  .resume .resume-block {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em; }
    .resume .resume-block:after {
      content: "";
      display: table;
      clear: both; }
    .resume .resume-block .resume-year {
      padding: 2em 0;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 14.70196%; }
      .resume .resume-block .resume-year:last-child {
        margin-right: 0; }
      .resume .resume-block .resume-year h4 {
        color: #a55757;
        line-height: 1.6; }
    .resume .resume-block .resume-entry {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%;
      padding: 2em;
      background-color: transparent; }
      .resume .resume-block .resume-entry:last-child {
        margin-right: 0; }

.stack p {
  text-align: center; }

.feature-stack-text ul {
  padding: 2em 0; }
  .feature-stack-text ul li:hover {
    color: #a55757; }

.stack-environment-text ul {
  margin: 1em 0;
  padding: 1em 2em;
  text-align: center; }
  .stack-environment-text ul li {
    color: rgba(51, 51, 51, 0.75);
    font-size: 1em;
    padding: 0 0.25em; }
    .stack-environment-text ul li:hover {
      color: #a55757;
      cursor: pointer; }

.contact {
  background-color: #e5e5e5; }
  .contact article {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    .contact article:after {
      content: "";
      display: table;
      clear: both; }
  .contact h1 {
    color: #333333; }

.contact-text {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  padding: 1em 0; }
  .contact-text:last-child {
    margin-right: 0; }
  .contact-text p {
    color: #333333; }

.links article {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .links article:after {
    content: "";
    display: table;
    clear: both; }

@font-face {
  font-family: pictonic;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/pictonic.eot");
  src: url("../fonts/pictonic.eot?#iefix") format("embedded-opentype"), url("../fonts/pictonic.woff") format("woff"), url("../fonts/pictonic.ttf") format("truetype"), url("../fonts/pictonic.svg#pictonic") format("svg"); }
.icon {
  font-family: "pictonic";
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  font-smoothing: antialiased !important;
  line-height: 1em; }

a.icon, span.icon, small.icon {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline; }

[class^="icon-"], [class*="icon-"] {
  font-family: "pictonic";
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  font-smoothing: antialiased !important;
  line-height: 1em; }

a[class^="icon-"], a[class*="icon-"], span[class^="icon-"], span[class*="icon-"], small[class^="icon-"], small[class*="icon-"] {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline; }

.icon-dbs-postgresql:before {
  content: ""; }

.icon-dbs-redis:before {
  content: ""; }

.icon-vc-git:before {
  content: ""; }

.icon-prog-ruby:before {
  content: ""; }

.icon-prog-js02:before {
  content: ""; }

.icon-prog-coffeescr:before {
  content: ""; }

.icon-prog-rails:before {
  content: ""; }

.icon-html5-02:before {
  content: ""; }

.icon-css3-02:before {
  content: ""; }

.icon-prog-jquery:before {
  content: ""; }

.icon-adb-illustrator:before {
  content: ""; }

.icon-adb-indesign:before {
  content: ""; }

.icon-adb-photoshop:before {
  content: ""; }

.icon-os-linux:before {
  content: ""; }

.icon-os-apple:before {
  content: ""; }

.icon-dbs-mysql:before {
  content: ""; }

.icon-dbs-sqlite:before {
  content: ""; }

.icon-github-01:before {
  content: ""; }

.icon-prog-bash02:before {
  content: ""; }
