// General
body {
  margin: 0 auto;
}

.container {
  @include fill-parent;
}

.section {
  @include padding(3em null);
  section {
    @include outer-container;
  }
}

// Introduction
.intro {
  background-color: $intro-background-color;
  article { @include outer-container;}
  h1 { 
    @include span-columns(3);
    font-family: $intro-header-font-family;
    font-size: $intro-header-font-size;
    font-weight: 300;
    color: $intro-header-color; 
  }
  .intro-text {
    @include span-columns(9);
    color: $intro-text-color;
    text-align: justify;
  }
}

// Resume
.resume {
  @include margin(1em 0);
  background-color: $resume-background-color;
  h2 {
      font-family: $sans-serif;
      font-size: $resume-header-font-size;
      color: $resume-header-color;
    }
  .resume-block {
    @include outer-container;
    @include margin(null null 1em null);
    .resume-year { 
      @include padding(2em 0);
      @include span-columns(2, block-collapse); 
      background: $resume-year-background-color;
      h4 {
        font-family: $sans-serif;
        color: $resume-year-color;
        line-height: 1.6;
      }
    }
    .resume-entry { 
      @include span-columns(10); 
      @include padding(2em 2em);
      background-color: $resume-entry-background-color;
      border-left: 5px solid $yellow;
      h3 { 
        font-family: $sans-serif; 
      }
    }
  }
}

// Stack
.stack {
  p {
    text-align: center;
    span {
      @include margin(0 0.5em);
      @include padding(0.5em 1em);
      background: $stack-tag-background-color;
      color: $stack-tag-text-color;
    }
  }
}
.feature-stack-text {
  @include margin(3em 0);
  ul {
    text-align: center;
    @include padding(2em 1.5em);
    @include outer-container;
    li {
      @include span-columns(1); 
      width: 125px;
      height: 125px;
      border-radius: 50%;
      background: $feature-stack-circle-background;
      color: $feature-stack-circle-text-color;
      span {
        display: block;
        @include margin(0.75em 0 0.15em 0);
        width: 100%;
        font-size: 2.5em;
        font-weight: normal;
        color: $peach;
      }
      &:hover {
        color: $feature-stack-text-hover;
        span {
          color: $feature-stack-text-hover;
        }
      }
    }
  }
}
.stack-environment-text {
  ul {
    @include margin(1em 0);
    @include padding(1em 2em);
    text-align: center;
    li {
      color: $stack-environment-list-text-color;
      font-size: 1em;
      @include padding(0 0.5em);
      &:hover {
        color: $stack-environment-list-text-hover;
        cursor: default;
      }
    }
  }
}

.stack-environment-list {
  li {
    display: inline-block;
    span {
      display: block;
      width: 100%;
      font-size: 2.5em;
      font-weight: normal;
    }
  }
}

// Contact Form
.contact {
  background-color: $contact-background-color;
  border-left: 10px solid $yellow;
  border-right: 10px solid $yellow;
  article { @include outer-container; }
  h1 {
    color: $contact-header-color;
  }
}

.contact-text {
  @include span-columns(6);
  @include shift(3);
  @include padding(1em 0em);
  p {
    color: $contact-text-color;
  }
}
