// General
body {
  margin: 0 auto;
}

.container {
  @include fill-parent;
}

.section {
  @include padding(3em null);
  section {
    @include outer-container;
  }
}

// Introduction
.intro {
  background-color: $intro-background-color;
  aside { @include span-columns(3); }
  article { @include span-columns(9); }
}

// CV
.cv {
  background-color: $cv-background-color;
  .cv-block {
    @include outer-container;
    @include margin(null null 1em null);
    .cv-year { 
      @include padding(2em 0);
      @include span-columns(2); 
      h4 {
        color: $cv-year-color;
        line-height: 1.6;
      }
    }
    .cv-entry { 
      @include span-columns(10); 
      @include padding(2em 2em);
      background-color: $cv-entry-background-color;
    }
  }
}

// Stack
.feature-stack-text {
  ul {
    @include padding(2em 0);
    li {
      &:hover {
        color: $feature-stack-text-hover;
      }
    }
  }
}
.stack-environment-text {
  h2 {
    color: $stack-environment-list-header-color;
    text-align: center;
    font-size: 1.5em;
  }
  ul {
    @include padding(1em 2em);
    text-align: center;
    li {
      color: $stack-environment-list-text-color;
      font-size: 1em;
      @include padding(0 0.25em);
      &:hover {
        color: $stack-environment-list-text-hover;
        cursor: pointer;
      }
    }
  }
}
