.chart{
  display: inline-block;
  width: 125px;
  height: 125px;
  margin: 0 10px;
  vertical-align: top;
  position: relative;
  padding-top: 35px;
  line-height: 1;
  text-align: center;
  @include box-sizing(border-box);

  span{
    display: block;
    width: 100%;
    font-size: 2.5em;
    font-weight: normal;
  }

  canvas{
    position: absolute;
    left: 0;
    top: 0;
  }
}


.stack-environment-list {
  li {
    display: inline-block;
    span {
      display: block;
      width: 100%;
      font-size: 2.5em;
      font-weight: normal;
    }
  }
}
