.tooltip-item {
  $tooltip-background: $tool-tip-background-color;
  $tooltip-color: darken($tool-tip-background-color, 40);
  $tooltip-width: 10em;
  $tooltip-distance-from-item: 140%;
  $tooltip-shadow: 0 2px 1px darken($tool-tip-background-color, 10);

  position: relative;

  &:hover .tooltip {
    opacity: 1;
    visibility: visible;
  }

  .tooltip {
    @include position(absolute, 0 0 0 50%);
    @include box-sizing(border-box);
    @include transition (all 0.2s ease-in-out);
    top: -60;
    bottom: $tooltip-distance-from-item;
    background-color: $tooltip-background;
    border-radius: $base-border-radius;
    box-shadow: $tooltip-shadow;
    color: $tooltip-color;
    font-size: 0.9em; // Make sure you use -webkit-backface-visibility: hidden; on the body element to prevent 1px nudging bugs.
    line-height: 1.5em;
    margin-left: -($tooltip-width/2);
    opacity: 0;
    padding: 1em 1em 2em 1em;
    text-align: center;
    visibility: hidden;
    min-width: $tooltip-width;
    z-index: 10;
    font-family: $serif;

    p {
      font-family: $base-font-family;
      margin-bottom: 0;
    }
  }
}
