// Typography
$sans-serif: 'PT Sans', sans-serif;
$display: 'baron', sans-serif;
$display-black: 'baron-black', sans-serif;
$display-bold: 'baron-bold', sans-serif;
$serif: $georgia;
$base-font-family: $sans-serif;
$header-font-family: $base-font-family;

// Sizes
$base-font-size: 1em;
$base-line-height: $base-font-size * 1.5;
$unitless-line-height: $base-line-height / ($base-line-height * 0 + 1); // Strip units from line-height: https://developer.mozilla.org/en-US/docs/Web/CSS/line-height#Prefer_unitless_numbers_for_line-height_values
$header-line-height: $base-font-size * 1.25;
$base-border-radius: em(0);

// Colors
$red: #A55757;
$peach: #D9D3C6;
$blue: #769489;
$yellow: #D9B76F;
$black: #141414;
$dark-gray: lighten($black, 12);
$medium-gray: lighten($dark-gray, 10);
$light-gray: lighten($dark-gray, 70);
$white: lighten($dark-gray, 90);

// Mobile
$tablet: new-breakpoint(max-width 768px 8);
$mobile: new-breakpoint(max-width 480px 4);

// Logo
$logo-background-color: fade-out($white, 0.75);
$intro-header-font-family: $display;
$intro-header-font-size: 6em;
$intro-header-color: fade-out($blue, 0.25);

// Background Color
$base-background-color: $peach;
$footer-background-color: $dark-gray;
// -- section background colors
$intro-background-color: fade-out($peach, 0.5);
$resume-background-color: $peach;
$contact-background-color: $peach;
$links-background-color: fade-out($white, 0.85);

// Navigation
$navigation-background-color: fade-out($white, 0.75);
$navigation-link-color: $medium-gray;
$navigation-hover-color: $blue;

// Intro
$intro-text-font-size: 2em;
$intro-text-color: $medium-gray;
$intro-text-span-color: $red;

// Resume
$resume-header-font-family: $display-bold;
$resume-header-font-size: 2.5em;
$resume-header-color: $blue;
$resume-year-color: $red;
$resume-year-background-color: transparent;
$resume-entry-background-color: fade-out($white, 0.85);

// Stack
$feature-stack-circle-background: $blue;
$feature-stack-circle-text-color: darken($blue, 20%);
$feature-stack-text-hover: darken($blue, 10%);
$stack-environment-list-header-color: $dark-gray;
$stack-environment-list-text-color: fade-out($dark-gray, 0.25);
$stack-environment-list-text-hover: $red;
$stack-tag-text-color: $medium-gray;
$stack-tag-background-color: fade-out($white, 0.75);

// Contact
$contact-text-color: $medium-gray;
$contact-header-color: $blue;
$contact-header-font-family: $display-bold;

// Links
$links-list-color: $peach;
$links-list-hover-color: $blue;

// Tool-tips
$tool-tip-background-color: fade-out($yellow, 0.15);

// Buttons
$base-button-text-color: fade-out($white, 0.5);
$base-button-color: $blue;
$hover-button-color: fade-out($base-button-color, 0.15);
$hover-button-text-color: fade-out($base-button-text-color, 0.15);

// Font Colors
$base-font-color: $dark-gray;
$base-accent-color: $medium-gray;

// Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);

// Border color
$base-border-color: transparent;

// Flash Colors
$alert-color: $yellow;
$error-color: $red;
$notice-color: $yellow;
$success-color: $blue;

// Forms
$form-background-color: fade-out($white, 0.75);
$form-background-color-hover: fade-out($white, 0.5);
$form-background-color-focus: $form-background-color-hover;
$form-border-color: $yellow;
$form-border-focus-color: $blue;
$form-border-radius: $base-border-radius;
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;
$form-text-color: $red;
$form-placeholder-text-color: fade-out($dark-gray, 0.5);


