// Typography
$sans-serif: 'PT Sans', sans-serif;
$sans-serif-2: 'Titillium Web', sans-serif;
$serif: $georgia;
$base-font-family: $sans-serif;
$header-font-family: $base-font-family;

// Sizes
$base-font-size: 1em;
$base-line-height: $base-font-size * 1.5;
$unitless-line-height: $base-line-height / ($base-line-height * 0 + 1); // Strip units from line-height: https://developer.mozilla.org/en-US/docs/Web/CSS/line-height#Prefer_unitless_numbers_for_line-height_values
$header-line-height: $base-font-size * 1.25;
$base-border-radius: em(3);

// Colors
$mint: #48CFAD;
$dark-mint: #37BC9B;
$grapefruit: #DA4453;
$yellow: #FFCE54;
$dark-gray: #434A54;
$medium-gray: #AAB2BD;
$light-gray: #F5F7FA;


// Background Color
$base-background-color: $light-gray;
$footer-background-color: $dark-gray;
// -- section background colors
$intro-background-color: $dark-mint;
$cv-background-color: $light-gray;

// Navigation
$navigation-background-color: $dark-gray;
$navigation-link-color: $medium-gray;
$navigation-hover-color: darken($navigation-link-color, 10);

// CV
$cv-year-color: $dark-mint;
$cv-entry-background-color: transparent;

// Stack
$feature-stack-text-hover: darken($dark-mint,10);
$stack-environment-list-header-color: $dark-gray;
$stack-environment-list-text-color: fade-out($dark-gray, 0.25);
$stack-environment-list-text-hover: $mint;

// Tool-tips
$tool-tip-background-color: fade-out($yellow, 0.15);

// Font Colors
$base-font-color: $dark-gray;
$base-accent-color: $medium-gray;

// Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);
$base-button-color: $base-link-color;
$hover-button-color: $hover-link-color;

// Border color
$base-border-color: $light-gray;

// Flash Colors
$alert-color: $yellow;
$error-color: $grapefruit;
$notice-color: $yellow;
$success-color: $mint;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(0,0,0,0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;
