%button {
  -webkit-font-smoothing: antialiased;
  background-color: $base-button-color;
  border-radius: $base-border-radius;
  color: $base-button-text-color;
  display: inline-block;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1;
  @include padding(0.5em 2em);
  text-decoration: none;

  &:hover {
    background-color: $hover-button-color;
    color: white;
  }
}
